@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Urbanist:wght@300;400;700&display=swap');
// Colors

$primary-color: #6E00FF;
$primary-color-lighter: #6700EE;
$logo-color: #00f7ff;
$meet-color: #FF64CB;
$circle-color: #E5D5FA;
$description-color: #3b3b3b;


// Colors

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background-color: $primary-color-lighter;

    a {
        color: #fff;
        
    }

 
}

nav a {
    height: 30px;
    line-height: 30px;

        &:hover {
            background: #fff;
            color: blueviolet;
            border-radius: 0.2em;
            font-weight: bold;
        }

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: $logo-color;
        font-weight: bold;
    }

        ul {
            display: flex;

            a {
                display: block;
                padding: 0 1em;
            }
        }
    
}

.social-header, .hero-design{
    display: none;
}


.hero {
    background-color: $primary-color;
    color: #fff;
    display: grid;
    text-align: center;
    padding: 4em;


}


.meet {
    display: flex;
    justify-content: center;
    margin: 1em 0 1em;
    
   font-weight: bold;

   color: $meet-color;

   span {
       margin-right: .3em;
   }

}

.scroll {
    width: 30px;
}


section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
    
    img {
        border-radius: 1em;
    }
}



.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $circle-color;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-color;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: .4em;
    display: block;
}

.featured-desc {
    color: $description-color;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: $meet-color;
}

.skills-container ul li {

    background: #fff;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 50px;
          
        }

        &.two {
            width: 150px;

        }

        &.three {
            width: 60px;
        }
    }
 
}

.skill-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.featured-desc {
    margin-bottom: 2em;
}

.portfolio, body {
    background: #F5F5F5
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;

}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background: #e2dedb;
    color: #b3aca7;
  }
  
  header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
  }
  
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }

@media only screen and (min-width: 800px) {


    .meet {
        margin: 2em 0 2em;
    }

    .featured, .portfolio {
        text-align: left;
    }

    .featured, .portfolio-container {
         display: grid;
         grid-template-columns: 40% auto;
    }

    .left, .portfolio-left {
        display:grid;
        place-content: center;
    
    }



    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;

    }

    .portfolio {
        padding-top: 7em;
    }

    .portfolio-container img {
        margin-left: 2em;
    }

    
}


@media only screen and (min-width: 1050px) {

    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: $primary-color-lighter;
        }
    }

    header {
        padding: 2em 2em 2em 4em;

    }

    .social-header {
        padding: 2em 4em 2em 0;
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 20px;
            }
        }
    }

    section {
        padding: 4em;
    }


    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: $primary-color;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet {
        justify-content: left;
    }

    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
    
}


@media only screen and (min-width: 1250px) {

    header {
        padding: 2em 2em 2em 10em;
    }

    .social-header {
        padding: 2em 10em 2em 0;
    }

    section {
        padding: 10em 10em 4em 10em;
    }


    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}


@media only screen and (min-width: 1550px) {

    header {
        padding: 2em 2em 2em 20em;
    }

    .social-header {
        padding: 2em 20em 2em 0;
    }

    section {
        padding: 6em 20em 4em 20em;
    }


    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}


.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from{
        transform: translate(262px, 798px);
        z-index: 5;
    }

    to{
        transform: translate(262px, 830px);
    }
}
